
   <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
         <li class="e-divider-6"></li>
         <li class="sidebar-brand">
            <a href="#">
               <img src="beleza-logo.png" width="180" alt="01">
            </a>
         </li>
         <li class="e-divider-4"></li>
         <li>
            <a href="index.html">Home</a>
         </li>
         <li>
            <a href="about.html">About</a>
         </li>
         <li>
            <a href="portfolio.html" class="current">Portfolio</a>
         </li>
         <li>
            <a href="join.html">Join</a>
         </li>
         <li>
            <a href="contact.html">Contact</a>
         </li>
      </ul>

      <div class="e-divider-4"></div>
      <div class="side-widget">
         <h6 class="font-accident-one-bold color03 e-uppercase">Beleza Agency</h6>
         <p class="small">
            There are many variations of passages of Lorem Ipsum available.
         </p>
      </div>
      <div class="side-widget">
         <h6 class="font-accident-one-bold color03 e-uppercase">Subscribe to news</h6>
         <input>
      </div>
      <div class="bottom-widget">

         <p class="small color04">
            Port Orange 23645, California USA
            Tel: 1 234 345 45 35
         </p>
         <div>
            <a href="#!"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
            <a href="#!"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
         </div>
      </div>

   </div>

