
<!-- Content Sections -->
  <div id="content">

     <!-- Revolution Slider -->
     <section class="slider-revolution">
        <div class="rev_slider_wrapper">
           <div id="slider1" class="rev_slider head-overlay" data-version="5.0">
              <ul>
                 <!-- SLIDE  -->
                 <li data-transition="fade" data-slotamount="1" data-masterspeed="1000"
                     data-thumb="assets/custom/images/rs-images/fullslide1-320x200.jpg" data-saveperformance="off"
                     data-title="Slide">
                    <!-- MAIN IMAGE -->
                    <img src="imgs/budweiser-group.jpeg" alt="fullslide2"
                         data-bgposition="center center"
                         data-bgfit="cover"
                         data-bgrepeat="no-repeat">
                    <!-- LAYERS -->


                    <!-- LAYER NR. 1 -->

                    <div class="tp-caption cap-title font-accident-two-normal color00 e-uppercase tp-resizeme rs-parallaxlevel-2"
                         data-x="center"
                         data-y="bottom"
                         data-basealign="grid"
                         data-voffset="40"
                         data-hoffset="0"
                         data-width=”auto”
                         data-height=”auto”
                         data-whitespace=”[‘nowrap’,’normal’,’normal’,’normal’]”
                         data-transform_idle="o:1;"
                         data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                         data-transform_out="auto:auto;s:700;"
                         data-start="950"
                         data-splitin=”none”
                         data-splitout=”none”
                         data-responsive_offset=”on”
                         data-fontsize="['36','34','30','20']"
                         data-lineheight="['120','100','90','80']"
                         style="z-index: 2;">Welcome to Beleza!
                    </div>

                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption cap-sub-subtitle font-regular-normal color00 e-uppercase tp-resizeme rs-parallaxlevel-2"
                         data-x="center"
                         data-y="bottom"
                         data-basealign="grid"
                         data-voffset="50"
                         data-hoffset="0"
                         data-width=”auto”
                         data-height=”auto”
                         data-whitespace=”[‘nowrap’,’normal’,’normal’,’normal’]”
                         data-transform_idle="o:1;"
                         data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                         data-transform_out="auto:auto;s:700;"
                         data-start="1500"
                         data-splitin=”none”
                         data-splitout=”none”
                         data-responsive_offset=”on”
                         style="z-index: 2;">Beleza Agency
                    </div>

                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption Hero-Button rev-btn  rs-parallaxlevel-2"
                         data-x="['center','center','center','center']"
                         data-hoffset="['0','0','0','0']"
                         data-y="bottom"
                         data-voffset="0"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                         data-style_hover="c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);cursor:pointer;"

                         data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                         data-transform_out="auto:auto;s:700;"
                         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                         data-start="2000"
                         data-splitin="none"
                         data-splitout="none"
                         data-actions='[{"event":"click","action":"scrollbelow","offset":"0px"}]'
                         data-responsive_offset="on"
                         data-responsive="off"

                         style="z-index: 9; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box; border: none; background: rgba(255, 255, 255, .6); color: #252525;">CONTINUE
                    </div>

                 </li>

                 <!-- SLIDE  -->
                 <li data-transition="fade" data-slotamount="1" data-masterspeed="1000"
                     data-thumb="assets/custom/images/rs-images/fullslide1-320x200.jpg" data-saveperformance="off"
                     data-title="Slide">
                    <!-- MAIN IMAGE -->
                    <img src="imgs/budweiser-solo.jpeg" alt="fullslide2"
                         data-bgposition="center center"
                         data-bgfit="cover"
                         data-bgrepeat="no-repeat">
                    <!-- LAYERS -->

                    <!-- LAYER NR. 1 -->

                    <div class="tp-caption cap-title font-accident-two-normal e-uppercase tp-resizeme rs-parallaxlevel-2"
                         data-x="center"
                         data-y="bottom"
                         data-basealign="grid"
                         data-voffset="40"
                         data-hoffset="0"
                         data-width=”auto”
                         data-height=”auto”
                         data-whitespace=”[‘nowrap’,’normal’,’normal’,’normal’]”
                         data-transform_idle="o:1;"
                         data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                         data-transform_out="auto:auto;s:700;"
                         data-start="950"
                         data-splitin=”none”
                         data-splitout=”none”
                         data-responsive_offset=”on”
                         data-fontsize="['36','34','30','20']"
                         data-lineheight="['120','100','90','80']"
                         style="z-index: 2;">This is Beleza Guey!
                    </div>

                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption cap-sub-subtitle font-regular-normal e-uppercase tp-resizeme rs-parallaxlevel-2"
                         data-x="center"
                         data-y="bottom"
                         data-basealign="grid"
                         data-voffset="50"
                         data-hoffset="0"
                         data-width=”auto”
                         data-height=”auto”
                         data-whitespace=”[‘nowrap’,’normal’,’normal’,’normal’]”
                         data-transform_idle="o:1;"
                         data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                         data-transform_out="auto:auto;s:700;"
                         data-start="1500"
                         data-splitin=”none”
                         data-splitout=”none”
                         data-responsive_offset=”on”
                         style="z-index: 2;">Ya sabes!
                    </div>

                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption Hero-Button rev-btn  rs-parallaxlevel-2"
                         data-x="['center','center','center','center']"
                         data-hoffset="['0','0','0','0']"
                         data-y="bottom"
                         data-voffset="0"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                         data-style_hover="c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);cursor:pointer;"

                         data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                         data-transform_out="auto:auto;s:700;"
                         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                         data-start="2000"
                         data-splitin="none"
                         data-splitout="none"
                         data-actions='[{"event":"click","action":"scrollbelow","offset":"0px"}]'
                         data-responsive_offset="on"
                         data-responsive="off"

                         style="z-index: 9; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box; border: none; background: rgba(255, 255, 255, .6); color: #252525;">CONTINUE
                    </div>

                 </li>


              </ul>
              <div class="tp-bannertimer"></div>
           </div>

        </div>
     </section>
     <!-- /Revolution Slider -->
</div>
  <!-- /Content Sections -->
