<div id="content">
   <section id="contact-message-hero-image">  <!-- Hero Image -->
      <div class="layer"></div>
      <div class="container-fluid hero-wrapper">
         <div class="row text-right">
            <div class="col-md-12">
               <div class="hero-text">
                  <h2 class="font-accident-two-normal">Thank you!</h2>
                  <p class="font-accident-two-normal e-uppercase letter-spacing-03">
                     Thank you for the message. We'll get back to you.
                  </p>
               </div>
            </div>
         </div>
      </div>
   </section> <!-- /Hero Image -->
 </div>
