
<!-- Content Sections -->
<div id="content">

   <!-- Hero Image -->
   <section id="about-hero-image">
      <div class="layer"></div>
      <div class="container-fluid hero-wrapper">
         <div class="row text-right">
            <div class="col-md-12">
               <div class="hero-text">
                  <h2 class="font-accident-two-normal">About Us</h2>
                  <p class="font-accident-two-normal e-uppercase letter-spacing-03">
                     Mission Statement: Beleza is an expression meaning beauty. We bring beauty to your company by expanding, transforming and recreating your environment. Beleza believes in the ability to create any chosen outcome at any given moment. We bring inspiration and innovation to your organization by recreating a seamlessly proactive business model that serves your ultimate outcome.
                  </p>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- /Hero Image -->

   <!-- Services Block -->
   <section id="services" class="e-block-regular e-block-centered services-block">
      <div class="container-fluid padding-side-50">

         <div class="row">
            <div class="col-lg-3 col-md-6">
               <a href="#!"><div class="rd-medal e-centered"><i class="pe-7s-world"></i></div></a>
               <div class="dividewhite3"></div>
               <h4 class="font-accident-one-normal e-uppercase">Service</h4>
               <p class="small">
                  As a result, blah blah blah... More stuff, more stuff, and more.
                  blah blah blah... More stuff, more stuff, and more.
               </p>
               <h6 class="font-accident-one-normal e-uppercase fontcolor-medium-light"><a href="#!">learn more</a></h6>
               <div class="e-divider-dynamic"></div>
            </div>
            <div class="col-lg-3 col-md-6">
               <a href="#!"><div class="rd-medal e-centered"><i class="pe-7s-target"></i></div></a>
               <div class="dividewhite3"></div>
               <h4 class="font-accident-one-normal e-uppercase">Service</h4>
               <p class="small">
                  As a result, blah blah blah... More stuff, more stuff, and more.
                  blah blah blah... More stuff, more stuff, and more.
               </p>
               <h6 class="font-accident-one-normal e-uppercase fontcolor-medium-light"><a href="#!">learn more</a></h6>
               <div class="e-divider-dynamic"></div>
            </div>
            <div class="col-lg-3 col-md-6">
               <a href="#!"><div class="rd-medal e-centered"><i class="pe-7s-science"></i></div></a>
               <div class="dividewhite3"></div>
               <h4 class="font-accident-one-normal e-uppercase">Service</h4>
               <p class="small">
                  All too often, inbound advertising traffic is As a result, blah blah blah... More stuff, more stuff, and more. More stuff, more stuff, and more.
               </p>
               <h6 class="font-accident-one-normal e-uppercase fontcolor-medium-light"><a href="#!">learn more</a></h6>
               <div class="e-divider-dynamic"></div>
            </div>
            <div class="col-lg-3 col-md-6">
               <a href="#!"><div class="rd-medal e-centered"><i class="pe-7s-like"></i></div></a>
               <div class="dividewhite3"></div>
               <h4 class="font-accident-one-normal e-uppercase">Service</h4>
               <p class="small">
                  As a result, blah blah blah... More stuff, more stuff, and more.
                  blah blah blah... More stuff, more stuff, and more.
               </p>
               <h6 class="font-accident-one-normal e-uppercase fontcolor-medium-light"><a href="#!">learn more</a></h6>
               <div class="e-divider-dynamic"></div>
            </div>
         </div>
      </div>
   </section>
   <!-- /Services Block -->


   <!-- Promo -->
   <section id="promo" class="e-block-regular e-block-skin bg-color01">
      <div class="container-fluid">
         <div class="row">
            <div class="col-sm-6"></div>
            <div class="col-sm-6">
               <div class="e-divider-8"></div>
               <h3 class="font-accident-two-normal e-uppercase">I am happy to make business <br>with the Beleza Team...</h3>
               <p class="big color04">Arturo Perez</p>
               <div class="e-divider-8"></div>
            </div>
         </div>
      </div>
   </section>
   <!-- /Promo -->

   <!-- Colleagues -->
   <section id="colleagues" class="e-block-short">
      <div class="container-fluid padding-side-50">

         <div class="text-center">
            <h3 class="font-accident-two-normal e-uppercase">Las Muchachas</h3>
            <div class="e-divider-8"></div>
         </div>

         <div class="row">
            <div class="col-md-3 col-xs-6 text-center">
               <div class="e-width-80 e-centered collegaues">
                  <img src="<%= asset_path( 'random-girl2.png' ) %>" class="img-responsive author-userpic">
                  <div class="e-divider-3"></div>
                  <p class="font-accident-one-bold e-uppercase">Some Girl</p>
                  <p class="small color04">Director</p>
                  <div class="e-divider-dynamic"></div>
               </div>
            </div>
            <div class="col-md-3 col-xs-6 text-center">
               <div class="e-width-80 e-centered collegaues">
                  <img src="<%= asset_path( 'random-girl.png' ) %>" class="img-responsive author-userpic">
                  <div class="e-divider-3"></div>
                  <p class="font-accident-one-bold e-uppercase">Some Girl</p>
                  <p class="small color04">Lead Promo</p>
                  <div class="e-divider-dynamic"></div>
               </div>
            </div>
            <div class="col-md-3 col-xs-6 text-center">
               <div class="e-width-80 e-centered collegaues">
                  <img src="<%= asset_path( 'random-girl.png' ) %>" class="img-responsive author-userpic">
                  <div class="e-divider-3"></div>
                  <p class="font-accident-one-bold e-uppercase">Some Girl</p>
                  <p class="small color04">Promo Girl</p>
                  <div class="e-divider-dynamic"></div>
               </div>
            </div>
            <div class="col-md-3 col-xs-6 text-center">
               <div class="e-width-80 e-centered collegaues">
                  <img src="<%= asset_path( 'random-girl2.png' ) %>" alt="Rachel James Johnes" class="img-responsive author-userpic">
                  <div class="e-divider-3"></div>
                  <p class="font-accident-one-bold e-uppercase">Some Girl</p>
                  <p class="small color04">Promo Girl</p>
                  <div class="e-divider-dynamic"></div>
               </div>
            </div>
         </div>
      </div>
   </section> <!-- /Colleagues -->

</div> <!-- /Content Sections -->
