
<!-- Content Sections -->
  <div id="content">

     <!-- Revolution Slider -->
     <section class="slider-revolution">
        <div class="rev_slider_wrapper">
           <div id="slider1" class="rev_slider head-overlay" data-version="5.0">
              <ul>
                 <!-- SLIDE  -->
                 <li data-transition="fade" data-slotamount="1" data-masterspeed="1000"
                     data-thumb="assets/custom/images/rs-images/fullslide1-320x200.jpg" data-saveperformance="off"
                     data-title="Slide">
                    <!-- MAIN IMAGE -->
                    <img src="http://i.imgur.com/R9yAESV.jpg" alt="fullslide2"
                         data-bgposition="center center"
                         data-bgfit="cover"
                         data-bgrepeat="no-repeat">
                    <!-- LAYERS -->

                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption cap-title font-accident-two-normal color00 e-uppercase tp-resizeme rs-parallaxlevel-2"
                         data-x="center"
                         data-y="bottom"
                         data-basealign="grid"
                         data-voffset="40"
                         data-hoffset="0"
                         data-width=”auto”
                         data-height=”auto”
                         data-whitespace=”[‘nowrap’,’normal’,’normal’,’normal’]”
                         data-transform_idle="o:1;"
                         data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                         data-transform_out="auto:auto;s:700;"
                         data-start="950"
                         data-splitin=”none”
                         data-splitout=”none”
                         data-responsive_offset=”on”
                         data-fontsize="['36','34','30','20']"
                         data-lineheight="['120','100','90','80']"
                         style="z-index: 2;">Welcome to Beleza!
                    </div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption cap-sub-subtitle font-regular-normal color00 e-uppercase tp-resizeme rs-parallaxlevel-2"
                         data-x="center"
                         data-y="bottom"
                         data-basealign="grid"
                         data-voffset="50"
                         data-hoffset="0"
                         data-width=”auto”
                         data-height=”auto”
                         data-whitespace=”[‘nowrap’,’normal’,’normal’,’normal’]”
                         data-transform_idle="o:1;"
                         data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                         data-transform_out="auto:auto;s:700;"
                         data-start="1500"
                         data-splitin=”none”
                         data-splitout=”none”
                         data-responsive_offset=”on”
                         style="z-index: 2;">Beleza Agency
                    </div>

                 </li>

                 <!-- SLIDE  -->
                 <li data-transition="fade" data-slotamount="1" data-masterspeed="1000"
                     data-thumb="assets/custom/images/rs-images/fullslide1-320x200.jpg" data-saveperformance="off"
                     data-title="Slide">
                    <!-- MAIN IMAGE -->
                    <img src=<%= asset_path "group_car.jpg"%> alt="fullslide2"
                         data-bgposition="center center"
                         data-bgfit="cover"
                         data-bgrepeat="no-repeat">
                    <!-- LAYERS -->

                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption cap-title font-accident-two-normal e-uppercase tp-resizeme rs-parallaxlevel-2"
                         data-x="center"
                         data-y="bottom"
                         data-basealign="grid"
                         data-voffset="40"
                         data-hoffset="0"
                         data-width=”auto”
                         data-height=”auto”
                         data-whitespace=”[‘nowrap’,’normal’,’normal’,’normal’]”
                         data-transform_idle="o:1;"
                         data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                         data-transform_out="auto:auto;s:700;"
                         data-start="950"
                         data-splitin=”none”
                         data-splitout=”none”
                         data-responsive_offset=”on”
                         data-fontsize="['36','34','30','20']"
                         data-lineheight="['120','100','90','80']"
                         style="z-index: 2;">Welcome to Beleza!
                    </div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption cap-sub-subtitle font-regular-normal e-uppercase tp-resizeme rs-parallaxlevel-2"
                         data-x="center"
                         data-y="bottom"
                         data-basealign="grid"
                         data-voffset="50"
                         data-hoffset="0"
                         data-width=”auto”
                         data-height=”auto”
                         data-whitespace=”[‘nowrap’,’normal’,’normal’,’normal’]”
                         data-transform_idle="o:1;"
                         data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                         data-transform_out="auto:auto;s:700;"
                         data-start="1500"
                         data-splitin=”none”
                         data-splitout=”none”
                         data-responsive_offset=”on”
                         style="z-index: 2;">Beleza Agency
                    </div>
                 </li>
              </ul>
              <div class="tp-bannertimer"></div>
           </div>

        </div>
     </section> <!-- /Revolution Slider -->
</div> <!-- /Content Sections -->
